{
  "openapi": "3.1.0",
  "info": {
    "title": "Korve API",
    "version": "0.1.0",
    "description": "Typed control plane for deploying applications and explicitly provisioning their managed infrastructure."
  },
  "servers": [
    {
      "url": "https://api.korve.dev"
    }
  ],
  "paths": {
    "/v1/agent-auth/authorization-requests/{requestId}/deny": {
      "post": {
        "operationId": "agentAuth.denyAuthorizationRequest",
        "summary": "Deny Authorization Request",
        "description": "Deny a pending authorization request and return only its previously bound loopback redirect and state.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Request denied; redirect the browser to the exact bound client URI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "denied": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "redirectUri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": ["denied", "redirectUri", "state"]
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, approved, denied, or consumed request."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/agent-auth/authorization-requests/{requestId}": {
      "get": {
        "operationId": "agentAuth.getAuthorizationRequest",
        "summary": "Get Authorization Request",
        "description": "Inspect a pending first-party authorization request before approving or denying it.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Safe approval details; redirect and credential material are omitted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "clientId": {
                      "type": "string",
                      "enum": ["korve-cli", "korve-mcp"]
                    },
                    "audience": {
                      "type": "string",
                      "enum": ["cli", "mcp"],
                      "description": "The first-party client surface that may present the resulting token."
                    },
                    "scopes": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 256,
                      "items": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
                        "maxLength": 128
                      },
                      "description": "Exact public API operation ids the grant may call."
                    },
                    "requestedRole": {
                      "type": "string",
                      "enum": ["member", "admin"],
                      "description": "Maximum organization role the grant may exercise. Owner grants do not exist."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "requestId",
                    "clientId",
                    "audience",
                    "scopes",
                    "requestedRole",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, approved, denied, or consumed request."
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      }
    },
    "/v1/agent-auth/authorization-requests": {
      "post": {
        "operationId": "agentAuth.createAuthorizationRequest",
        "summary": "Create Authorization Request",
        "description": "Begin a first-party OAuth authorization-code flow with PKCE.",
        "tags": ["agentAuth"],
        "parameters": [],
        "security": [],
        "responses": {
          "201": {
            "description": "Authorization request created; open authorizationUrl in a browser.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "authorizationUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": ["requestId", "authorizationUrl", "expiresAt"]
                }
              }
            }
          },
          "422": {
            "description": "Invalid client, redirect, state, PKCE challenge, scope, or role."
          },
          "429": {
            "description": "Too many authorization attempts from this network source."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "enum": ["korve-cli", "korve-mcp"]
                  },
                  "redirectUri": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "state": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 256
                  },
                  "codeChallenge": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$",
                    "description": "Base64url SHA-256 digest of the client's PKCE verifier."
                  },
                  "codeChallengeMethod": {
                    "type": "string",
                    "enum": ["S256"]
                  },
                  "audience": {
                    "type": "string",
                    "enum": ["cli", "mcp"],
                    "description": "The first-party client surface that may present the resulting token."
                  },
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 256,
                    "items": {
                      "type": "string",
                      "pattern": "^[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
                      "maxLength": 128
                    },
                    "description": "Exact public API operation ids the grant may call."
                  },
                  "requestedRole": {
                    "type": "string",
                    "enum": ["member", "admin"],
                    "description": "Maximum organization role the grant may exercise. Owner grants do not exist."
                  }
                },
                "required": [
                  "clientId",
                  "redirectUri",
                  "state",
                  "codeChallenge",
                  "codeChallengeMethod",
                  "audience",
                  "scopes",
                  "requestedRole"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/agent-auth/device-authorizations/{userCode}/deny": {
      "post": {
        "operationId": "agentAuth.denyDeviceAuthorization",
        "summary": "Deny Device Authorization",
        "description": "Deny a pending device authorization. The polling client stops with an error.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "userCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$",
              "maxLength": 9,
              "description": "Human-entered pairing code in XXXX-XXXX form, from an unambiguous alphabet."
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Device authorization denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "denied": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  },
                  "required": ["denied"]
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, approved, denied, or consumed device code."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/agent-auth/device-authorizations/{userCode}": {
      "get": {
        "operationId": "agentAuth.getDeviceAuthorization",
        "summary": "Get Device Authorization",
        "description": "Inspect a pending device authorization by its user code before approving or denying it.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "userCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$",
              "maxLength": 9,
              "description": "Human-entered pairing code in XXXX-XXXX form, from an unambiguous alphabet."
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Safe approval details; the device code is never returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userCode": {
                      "type": "string",
                      "pattern": "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$",
                      "maxLength": 9,
                      "description": "Human-entered pairing code in XXXX-XXXX form, from an unambiguous alphabet."
                    },
                    "clientId": {
                      "type": "string",
                      "enum": ["korve-cli", "korve-mcp"]
                    },
                    "audience": {
                      "type": "string",
                      "enum": ["cli", "mcp"],
                      "description": "The first-party client surface that may present the resulting token."
                    },
                    "scopes": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 256,
                      "items": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
                        "maxLength": 128
                      },
                      "description": "Exact public API operation ids the grant may call."
                    },
                    "requestedRole": {
                      "type": "string",
                      "enum": ["member", "admin"],
                      "description": "Maximum organization role the grant may exercise. Owner grants do not exist."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "userCode",
                    "clientId",
                    "audience",
                    "scopes",
                    "requestedRole",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, approved, denied, or consumed device code."
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      }
    },
    "/v1/agent-auth/device-authorizations": {
      "post": {
        "operationId": "agentAuth.createDeviceAuthorization",
        "summary": "Create Device Authorization",
        "description": "Begin a device authorization flow for a browserless or sandboxed client. A human approves the short pairing code on the dashboard while the client polls the token endpoint.",
        "tags": ["agentAuth"],
        "parameters": [],
        "security": [],
        "responses": {
          "201": {
            "description": "Device authorization created. Show the user code, then poll the token endpoint with the device code.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviceCode": {
                      "type": "string",
                      "description": "Client-held polling secret; never shown to the approving user."
                    },
                    "userCode": {
                      "type": "string",
                      "pattern": "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$",
                      "maxLength": 9,
                      "description": "Human-entered pairing code in XXXX-XXXX form, from an unambiguous alphabet."
                    },
                    "verificationUri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "verificationUriComplete": {
                      "type": "string",
                      "format": "uri",
                      "description": "The verification page with the user code pre-filled."
                    },
                    "expiresIn": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "interval": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "Minimum seconds between token polls."
                    }
                  },
                  "required": [
                    "deviceCode",
                    "userCode",
                    "verificationUri",
                    "verificationUriComplete",
                    "expiresIn",
                    "interval"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid client, audience, scope, or role."
          },
          "429": {
            "description": "Too many device authorization attempts from this network source."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "enum": ["korve-cli", "korve-mcp"]
                  },
                  "audience": {
                    "type": "string",
                    "enum": ["cli", "mcp"],
                    "description": "The first-party client surface that may present the resulting token."
                  },
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 256,
                    "items": {
                      "type": "string",
                      "pattern": "^[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
                      "maxLength": 128
                    },
                    "description": "Exact public API operation ids the grant may call."
                  },
                  "requestedRole": {
                    "type": "string",
                    "enum": ["member", "admin"],
                    "description": "Maximum organization role the grant may exercise. Owner grants do not exist."
                  }
                },
                "required": ["clientId", "audience", "scopes", "requestedRole"]
              }
            }
          }
        }
      }
    },
    "/v1/agent-auth/revoke": {
      "post": {
        "operationId": "agentAuth.revokeToken",
        "summary": "Revoke Token",
        "description": "Revoke the complete grant family identified by a refresh token. Unknown tokens return the same response to avoid an oracle.",
        "tags": ["agentAuth"],
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "The matching grant family is revoked, if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  },
                  "required": ["revoked"]
                }
              }
            }
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "enum": ["korve-cli", "korve-mcp"]
                  },
                  "token": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": ["clientId", "token"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/agent-auth/token": {
      "post": {
        "operationId": "agentAuth.exchangeToken",
        "summary": "Exchange Token",
        "description": "Exchange an authorization code with its PKCE verifier, poll an approved device authorization, or rotate a refresh token. Refresh-token reuse revokes the entire grant.",
        "tags": ["agentAuth"],
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "A short-lived access token and a single-use rotating refresh token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenType": {
                      "type": "string",
                      "enum": ["Bearer"]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "refreshExpiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "audience": {
                      "type": "string",
                      "enum": ["cli", "mcp"],
                      "description": "The first-party client surface that may present the resulting token."
                    },
                    "role": {
                      "type": "string",
                      "enum": ["member", "admin"],
                      "description": "Maximum organization role the grant may exercise. Owner grants do not exist."
                    },
                    "scopes": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 256,
                      "items": {
                        "type": "string",
                        "pattern": "^[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
                        "maxLength": 128
                      },
                      "description": "Exact public API operation ids the grant may call."
                    },
                    "organizationId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "grantId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "tokenType",
                    "accessToken",
                    "expiresIn",
                    "refreshToken",
                    "refreshExpiresAt",
                    "audience",
                    "role",
                    "scopes",
                    "organizationId",
                    "grantId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid, expired, consumed, replayed, or mis-bound grant. Device polling answers with the error codes AUTHORIZATION_PENDING, SLOW_DOWN, ACCESS_DENIED, or EXPIRED_TOKEN."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grantType": {
                    "type": "string",
                    "enum": ["authorization_code", "device_code", "refresh_token"]
                  },
                  "clientId": {
                    "type": "string",
                    "enum": ["korve-cli", "korve-mcp"]
                  },
                  "redirectUri": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "code": {
                    "type": "string"
                  },
                  "codeVerifier": {
                    "type": "string",
                    "minLength": 43,
                    "maxLength": 128
                  },
                  "deviceCode": {
                    "type": "string",
                    "description": "The device authorization's client-held polling secret."
                  },
                  "refreshToken": {
                    "type": "string"
                  }
                },
                "required": ["grantType", "clientId"]
              }
            }
          }
        }
      }
    },
    "/v1/app-access/invitations/accept": {
      "post": {
        "operationId": "appAccess.acceptInvitationWithContext",
        "summary": "Accept Invitation With Context",
        "description": "Accept an invitation for the project derived from an active edge-minted login context. The context is not consumed until session exchange.",
        "tags": ["appAccess"],
        "parameters": [],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access grant plus the server-derived managed application URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "grant": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "viewerUserId": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "invitationId": {
                          "type": ["string", "null"],
                          "format": "uuid"
                        },
                        "revokedAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "viewerUserId",
                        "email",
                        "invitationId",
                        "revokedAt",
                        "createdAt"
                      ]
                    },
                    "appUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Server-derived managed application URL. Custom and infrastructure origins are never returned."
                    }
                  },
                  "required": ["grant", "appUrl"]
                }
              }
            }
          },
          "403": {
            "description": "Invitation does not match the verified viewer identity."
          },
          "404": {
            "description": "Context or invitation is invalid, expired, or unavailable."
          },
          "409": {
            "description": "Invitation was already accepted."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "context": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 512
                  },
                  "token": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 512
                  }
                },
                "required": ["context", "token"]
              }
            }
          }
        }
      }
    },
    "/v1/app-access/sessions/exchange": {
      "post": {
        "operationId": "appAccess.exchangeSession",
        "summary": "Exchange Session",
        "description": "Consume a one-time edge-minted login context and exchange the verified Korve user session for a scoped application access token. API clients send `x-korve-access-token: <token>`; Authorization remains reserved for customer application auth. Browsers submit the token to the server-returned callback; the edge responds 303 with `__Host-korve_access=<encoded token>; HttpOnly; Secure; SameSite=Lax; Path=/` and no Domain attribute. The central API never trusts browser callback, project, or scope parameters and never sets a cross-origin cookie.",
        "tags": ["appAccess"],
        "parameters": [],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "201": {
            "description": "Session metadata plus a one-time bearer/cookie token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "session": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "viewerUserId": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "environment": {
                          "type": ["string", "null"]
                        },
                        "previewId": {
                          "type": ["string", "null"],
                          "format": "uuid"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "policyVersion": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "revokedAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "viewerUserId",
                        "email",
                        "environment",
                        "previewId",
                        "expiresAt",
                        "policyVersion",
                        "revokedAt",
                        "createdAt"
                      ]
                    },
                    "token": {
                      "type": "string",
                      "minLength": 32
                    },
                    "cookieName": {
                      "type": "string",
                      "enum": ["__Host-korve_access"]
                    },
                    "handoff": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "callback": {
                          "type": "string",
                          "format": "uri"
                        },
                        "returnTo": {
                          "type": "string"
                        }
                      },
                      "required": ["callback", "returnTo"]
                    }
                  },
                  "required": ["session", "token", "cookieName", "handoff"]
                }
              }
            }
          },
          "403": {
            "description": "The viewer does not satisfy the effective access mode."
          },
          "404": {
            "description": "Login context is invalid, expired, consumed, or unavailable."
          },
          "422": {
            "description": "The requested scope or lifetime is invalid."
          },
          "503": {
            "description": "Application access enforcement is not ready."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "context": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 512
                  },
                  "ttlSeconds": {
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 604800
                  }
                },
                "required": ["context"]
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/config": {
      "get": {
        "operationId": "appauth.getPublicConfig",
        "summary": "Get Public Config",
        "description": "Get public provider availability and session policy for an enabled project.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Public app-auth settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["google", "password", "magic_link"]
                      }
                    },
                    "passwordMinLength": {
                      "type": "integer"
                    },
                    "accessTokenTtlSeconds": {
                      "type": "integer"
                    }
                  },
                  "required": ["enabled", "providers", "accessTokenTtlSeconds", "passwordMinLength"]
                }
              }
            }
          },
          "404": {
            "description": "No enabled app auth for this project."
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": true
      }
    },
    "/v1/apps/{projectId}/auth/magic-link/verify": {
      "post": {
        "operationId": "appauth.completeMagicLink",
        "summary": "Complete Magic Link",
        "description": "Consume the single-use token read from an email-link URL fragment and return a new application session.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "New app session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Short-lived opaque bearer token. Only a SHA-256 digest is stored by Korve."
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "One-time rotating token. Only a SHA-256 digest is stored by Korve."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": ["string", "null"]
                        },
                        "image": {
                          "type": ["string", "null"]
                        },
                        "disabledAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSignInAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "lastActiveAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "emailVerified",
                        "name",
                        "image",
                        "disabledAt",
                        "createdAt",
                        "lastSignInAt",
                        "lastActiveAt"
                      ]
                    }
                  },
                  "required": ["accessToken", "refreshToken", "expiresAt", "user"]
                }
              }
            }
          },
          "401": {
            "description": "The link is invalid, expired, or already consumed."
          },
          "429": {
            "description": "Too many authentication attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": ["token"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/magic-link": {
      "post": {
        "operationId": "appauth.requestMagicLink",
        "summary": "Request Magic Link",
        "description": "Send a single-use passwordless sign-in link whose token is delivered in the URL fragment. The response never reveals whether an account existed.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "202": {
            "description": "The sign-in request was accepted."
          },
          "404": {
            "description": "No such project or app-auth resource in this organization."
          },
          "422": {
            "description": "Invalid configuration or request."
          },
          "429": {
            "description": "Too many authentication attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "redirectUrl": {
                    "type": "string"
                  }
                },
                "required": ["email", "redirectUrl"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/oauth/google/callback": {
      "get": {
        "operationId": "appauth.googleCallback",
        "summary": "Google Callback",
        "description": "Validate the one-time OAuth state and Google response, then redirect with a short-lived exchange code.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "302": {
            "description": "Exact configured application redirect."
          },
          "400": {
            "description": "Invalid, expired, consumed, or failed OAuth attempt."
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": true
      }
    },
    "/v1/apps/{projectId}/auth/oauth/google/start": {
      "post": {
        "operationId": "appauth.startGoogle",
        "summary": "Start Google",
        "description": "Create a single-use state, nonce, and PKCE challenge for an exact allowed redirect URL.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Authorization URL and browser state value.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorizationUrl": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": ["authorizationUrl", "state"]
                }
              }
            }
          },
          "404": {
            "description": "No such project or app-auth resource in this organization."
          },
          "422": {
            "description": "Invalid configuration or request."
          },
          "429": {
            "description": "Too many sign-in attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirectUrl": {
                    "type": "string"
                  }
                },
                "required": ["redirectUrl"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/password/reset/verify": {
      "post": {
        "operationId": "appauth.completePasswordReset",
        "summary": "Complete Password Reset",
        "description": "Consume a single-use reset token, replace the password hash, and revoke existing sessions.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Password replaced and sessions revoked."
          },
          "401": {
            "description": "The reset link is invalid, expired, or already consumed."
          },
          "422": {
            "description": "The password does not satisfy project policy."
          },
          "429": {
            "description": "Too many authentication attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": ["token", "password"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/password/reset": {
      "post": {
        "operationId": "appauth.requestPasswordReset",
        "summary": "Request Password Reset",
        "description": "Send a single-use password reset link whose token is delivered in the URL fragment. The response never reveals whether an account existed.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "202": {
            "description": "The reset request was accepted."
          },
          "404": {
            "description": "No such project or app-auth resource in this organization."
          },
          "422": {
            "description": "Invalid configuration or request."
          },
          "429": {
            "description": "Too many authentication attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "redirectUrl": {
                    "type": "string"
                  }
                },
                "required": ["email", "redirectUrl"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/refresh": {
      "post": {
        "operationId": "appauth.refreshSession",
        "summary": "Refresh Session",
        "description": "Atomically consume one refresh token and rotate both session tokens; reuse, idle expiry, or absolute expiry revokes the session.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Rotated app session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Short-lived opaque bearer token. Only a SHA-256 digest is stored by Korve."
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "One-time rotating token. Only a SHA-256 digest is stored by Korve."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": ["string", "null"]
                        },
                        "image": {
                          "type": ["string", "null"]
                        },
                        "disabledAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSignInAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "lastActiveAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "emailVerified",
                        "name",
                        "image",
                        "disabledAt",
                        "createdAt",
                        "lastSignInAt",
                        "lastActiveAt"
                      ]
                    }
                  },
                  "required": ["accessToken", "refreshToken", "expiresAt", "user"]
                }
              }
            }
          },
          "401": {
            "description": "Invalid, expired, reused, idle-expired, revoked, or cross-project refresh token."
          },
          "429": {
            "description": "Too many refresh attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                },
                "required": ["refreshToken"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/session": {
      "get": {
        "operationId": "appauth.getSession",
        "summary": "Get Session",
        "description": "Return the current project-scoped app user and session expiry.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [
          {
            "appUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current app session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": ["string", "null"]
                        },
                        "image": {
                          "type": ["string", "null"]
                        },
                        "disabledAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSignInAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "lastActiveAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "emailVerified",
                        "name",
                        "image",
                        "disabledAt",
                        "createdAt",
                        "lastSignInAt",
                        "lastActiveAt"
                      ]
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": ["user", "expiresAt"]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired, revoked, idle, disabled, or cross-project session."
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": true
      }
    },
    "/v1/apps/{projectId}/auth/sign-in/password": {
      "post": {
        "operationId": "appauth.signInPassword",
        "summary": "Sign In Password",
        "description": "Sign in a verified application user with a password. Authentication failures use one enumeration-resistant response.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "New app session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Short-lived opaque bearer token. Only a SHA-256 digest is stored by Korve."
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "One-time rotating token. Only a SHA-256 digest is stored by Korve."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": ["string", "null"]
                        },
                        "image": {
                          "type": ["string", "null"]
                        },
                        "disabledAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSignInAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "lastActiveAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "emailVerified",
                        "name",
                        "image",
                        "disabledAt",
                        "createdAt",
                        "lastSignInAt",
                        "lastActiveAt"
                      ]
                    }
                  },
                  "required": ["accessToken", "refreshToken", "expiresAt", "user"]
                }
              }
            }
          },
          "401": {
            "description": "The credentials are invalid or the email is not verified."
          },
          "429": {
            "description": "Too many authentication attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": ["email", "password"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/sign-out": {
      "post": {
        "operationId": "appauth.signOut",
        "summary": "Sign Out",
        "description": "Revoke the current app session and all of its refresh tokens.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [
          {
            "appUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session revoked."
          },
          "401": {
            "description": "Invalid or cross-project app session."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true
      }
    },
    "/v1/apps/{projectId}/auth/sign-up/password": {
      "post": {
        "operationId": "appauth.signUpPassword",
        "summary": "Sign Up Password",
        "description": "Register an email credential and send a single-use verification link. The response is intentionally identical when the email already exists.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "202": {
            "description": "The verification request was accepted."
          },
          "404": {
            "description": "No such project or app-auth resource in this organization."
          },
          "422": {
            "description": "Invalid configuration or request."
          },
          "429": {
            "description": "Too many authentication attempts."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "redirectUrl": {
                    "type": "string"
                  }
                },
                "required": ["email", "password", "redirectUrl"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/apps/{projectId}/auth/token": {
      "post": {
        "operationId": "appauth.exchangeCode",
        "summary": "Exchange Code",
        "description": "Consume a one-time authorization code and return a new app session.",
        "tags": ["appauth"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project id (UUID) or globally unique project slug."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "New app session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Short-lived opaque bearer token. Only a SHA-256 digest is stored by Korve."
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "One-time rotating token. Only a SHA-256 digest is stored by Korve."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": ["string", "null"]
                        },
                        "image": {
                          "type": ["string", "null"]
                        },
                        "disabledAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSignInAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        },
                        "lastActiveAt": {
                          "type": ["string", "null"],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "emailVerified",
                        "name",
                        "image",
                        "disabledAt",
                        "createdAt",
                        "lastSignInAt",
                        "lastActiveAt"
                      ]
                    }
                  },
                  "required": ["accessToken", "refreshToken", "expiresAt", "user"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid, expired, or consumed code."
          },
          "429": {
            "description": "Too many token exchanges."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": true,
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                },
                "required": ["code"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "system.health",
        "summary": "Health",
        "description": "Service liveness check.",
        "tags": ["system"],
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "service": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "service"]
                }
              }
            }
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "me.get",
        "summary": "Get",
        "description": "Current user profile with organization memberships and roles.",
        "tags": ["me"],
        "parameters": [],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "The authenticated principal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "emailVerified": {
                          "type": "boolean"
                        }
                      },
                      "required": ["id", "email", "emailVerified"]
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": ["owner", "admin", "member"]
                          },
                          "isPersonal": {
                            "type": "boolean"
                          },
                          "billingStatus": {
                            "type": "string",
                            "enum": ["unpaid", "active", "past_due", "canceled"]
                          }
                        },
                        "required": ["id", "name", "slug", "role", "isPersonal", "billingStatus"]
                      }
                    }
                  },
                  "required": ["user", "organizations"]
                }
              }
            }
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      }
    },
    "/v1/orgs/{orgId}/agent-grants/{grantId}": {
      "delete": {
        "operationId": "agentAuth.revokeGrant",
        "summary": "Revoke Grant",
        "description": "Revoke a grant and all of its access and refresh tokens. Members may revoke their own grants; admins may revoke any grant in the organization.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "grantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Grant revoked, idempotently.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revokedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": ["revokedAt"]
                }
              }
            }
          },
          "404": {
            "description": "No visible grant in this organization."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      }
    },
    "/v1/orgs/{orgId}/agent-grants/authorization-requests/{requestId}/approve": {
      "post": {
        "operationId": "agentAuth.approveAuthorizationRequest",
        "summary": "Approve Authorization Request",
        "description": "Approve a pending authorization request as the signed-in user. The grant can never exceed the approving user's organization role.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "One-time authorization code and exact client state bound to the redirect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirectUri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "code": {
                      "type": "string",
                      "description": "One-time code; never persisted in plaintext."
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": ["redirectUri", "code", "state"]
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, consumed, or cross-organization request."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{orgId}/agent-grants/device-authorizations/{userCode}/approve": {
      "post": {
        "operationId": "agentAuth.approveDeviceAuthorization",
        "summary": "Approve Device Authorization",
        "description": "Approve a pending device authorization as the signed-in user. The grant can never exceed the approving user's organization role; the polling client redeems it for tokens.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "userCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$",
              "maxLength": 9,
              "description": "Human-entered pairing code in XXXX-XXXX form, from an unambiguous alphabet."
            }
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Device authorization approved; the device completes on its next poll.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "approved": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  },
                  "required": ["approved"]
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, approved, denied, or consumed device code."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{orgId}/agent-grants": {
      "get": {
        "operationId": "agentAuth.listGrants",
        "summary": "List Grants",
        "description": "List the signed-in user's grants; admins may inspect all grants in the organization.",
        "tags": ["agentAuth"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          }
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Revocable agent grants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "clientId": {
                        "type": "string",
                        "enum": ["korve-cli", "korve-mcp"]
                      },
                      "audience": {
                        "type": "string",
                        "enum": ["cli", "mcp"],
                        "description": "The first-party client surface that may present the resulting token."
                      },
                      "role": {
                        "type": "string",
                        "enum": ["member", "admin"],
                        "description": "Maximum organization role the grant may exercise. Owner grants do not exist."
                      },
                      "scopes": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 256,
                        "items": {
                          "type": "string",
                          "pattern": "^[A-Za-z][A-Za-z0-9]*\\.[A-Za-z][A-Za-z0-9]*$",
                          "maxLength": 128
                        },
                        "description": "Exact public API operation ids the grant may call."
                      },
                      "userId": {
                        "type": "string"
                      },
                      "revokedAt": {
                        "type": ["string", "null"],
                        "format": "date-time"
                      },
                      "lastUsedAt": {
                        "type": ["string", "null"],
                        "format": "date-time"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "clientId",
                      "audience",
                      "role",
                      "scopes",
                      "userId",
                      "revokedAt",
                      "lastUsedAt",
                      "createdAt"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      }
    },
    "/v1/orgs/{orgId}/alert-channels/{channelId}/test": {
      "post": {
        "operationId": "alertChannels.test",
        "summary": "Test",
        "description": "Send a clearly labeled test notification through an alert channel.",
        "tags": ["alertChannels"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ],
        "responses": {
          "202": {
            "description": "Test delivery accepted."
          },
          "404": {
            "description": "No such alert channel in this organization."
          },
          "422": {
            "description": "Channel is unverified or its delivery failed validation."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "admin",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{orgId}/alert-channels/{channelId}": {
      "delete": {
        "operationId": "alertChannels.delete",
        "summary": "Delete",
        "description": "Delete an alert channel and stop future deliveries through it.",
        "tags": ["alertChannels"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Alert channel deleted."
          },
          "404": {
            "description": "No such alert channel in this organization."
          },
          "409": {
            "description": "An alert policy still uses this channel."
          }
        },
        "x-korve-risk": "destructive",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "owner"
      },
      "get": {
        "operationId": "alertChannels.get",
        "summary": "Get",
        "description": "Get one alert channel with its destination and credentials masked.",
        "tags": ["alertChannels"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Masked alert channel.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^[a-z][a-z0-9-]{1,61}$"
                    },
                    "kind": {
                      "type": "string",
                      "enum": ["email", "signed_webhook", "slack"]
                    },
                    "destinationMasked": {
                      "type": ["string", "null"],
                      "description": "Masked email address or endpoint. Full destinations are never returned."
                    },
                    "secretHint": {
                      "type": ["string", "null"],
                      "description": "Non-secret suffix that identifies which stored credential is active."
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "kind",
                    "destinationMasked",
                    "secretHint",
                    "verified",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "No such alert channel in this organization."
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      },
      "patch": {
        "operationId": "alertChannels.update",
        "summary": "Update",
        "description": "Rename a channel or replace its destination and encrypted credential. Omitted secret fields keep the stored value.",
        "tags": ["alertChannels"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated masked alert channel.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^[a-z][a-z0-9-]{1,61}$"
                    },
                    "kind": {
                      "type": "string",
                      "enum": ["email", "signed_webhook", "slack"]
                    },
                    "destinationMasked": {
                      "type": ["string", "null"],
                      "description": "Masked email address or endpoint. Full destinations are never returned."
                    },
                    "secretHint": {
                      "type": ["string", "null"],
                      "description": "Non-secret suffix that identifies which stored credential is active."
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "kind",
                    "destinationMasked",
                    "secretHint",
                    "verified",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "No such alert channel in this organization."
          },
          "422": {
            "description": "Channel kind and destination do not match or are invalid."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "admin",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z][a-z0-9-]{1,61}$"
                  },
                  "kind": {
                    "type": "string",
                    "enum": ["email", "signed_webhook", "slack"]
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS endpoint or incoming Slack webhook. Stored encrypted and never returned."
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{orgId}/alert-channels": {
      "get": {
        "operationId": "alertChannels.list",
        "summary": "List",
        "description": "List alert channels with masked destinations and credential hints.",
        "tags": ["alertChannels"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "Masked alert channels ordered by name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string",
                        "pattern": "^[a-z][a-z0-9-]{1,61}$"
                      },
                      "kind": {
                        "type": "string",
                        "enum": ["email", "signed_webhook", "slack"]
                      },
                      "destinationMasked": {
                        "type": ["string", "null"],
                        "description": "Masked email address or endpoint. Full destinations are never returned."
                      },
                      "secretHint": {
                        "type": ["string", "null"],
                        "description": "Non-secret suffix that identifies which stored credential is active."
                      },
                      "verified": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "kind",
                      "destinationMasked",
                      "secretHint",
                      "verified",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "x-korve-risk": "read",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "member"
      },
      "post": {
        "operationId": "alertChannels.create",
        "summary": "Create",
        "description": "Create an email, signed webhook, or Slack channel. Endpoint credentials are encrypted; a generated signing secret is shown only once.",
        "tags": ["alertChannels"],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The organization's id (UUID) or slug — either form is accepted."
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ],
        "responses": {
          "201": {
            "description": "Alert channel created. A signed webhook secret is shown exactly once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^[a-z][a-z0-9-]{1,61}$"
                    },
                    "kind": {
                      "type": "string",
                      "enum": ["email", "signed_webhook", "slack"]
                    },
                    "destinationMasked": {
                      "type": ["string", "null"],
                      "description": "Masked email address or endpoint. Full destinations are never returned."
                    },
                    "secretHint": {
                      "type": ["string", "null"],
                      "description": "Non-secret suffix that identifies which stored credential is active."
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "signingSecret": {
                      "type": ["string", "null"],
                      "description": "For a signed webhook, the delivery verification secret shown exactly once; null for other channel kinds."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "kind",
                    "destinationMasked",
                    "secretHint",
                    "verified",
                    "createdAt",
                    "updatedAt",
                    "signingSecret"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "An alert channel with that name already exists."
          },
          "422": {
            "description": "Channel kind and destination do not match or are invalid."
          }
        },
        "x-korve-risk": "write",
        "x-korve-project-scoped": false,
        "x-korve-required-role": "admin",
        "requestBody": {
          "required": true,
          "x-korve-max-bytes": 1048576,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z][a-z0-9-]{1,61}$"
                  },
                  "kind": {
                    "type": "string",
                    "enum": ["email", "signed_webhook", "slack"]
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS endpoint or incoming Slack webhook. Stored encrypted and never returned."
                  }
                },
                "required": ["name", "kind"],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{orgId}/api-keys/{keyId}": {
      "delete": {
        "operationId": "apikeys.revoke",
        "summary": "Revoke",
        "description": "Revoke an API key. The key stops authenticating immediately; revoking an already-revoked key returns the same revocation time (idempotent).",
        "tags": ["apikeys"],
        "parameters": [
          {
            "name": "orgId",
[...]
